{% if settings.newsletter_popup %}   
	<a id="newsletter" href="#target"></a>
	<span style="display: none;">
	 <span id="target">
		 <div class="popup-text left"><h1 class="light">#GIVINGTUESDAY</h1><p class="p2 light">Give the gift of yoga to the children of Haiti.</p></div>
		 <div class="mobile_hidden">
		 	<img width="600" height="400" src="{{ 'UZRetail_GivingTuesday_PopUp_BG.jpg' | asset_url | split:'?' | first  }}" | asset_url | split:'?' | first  }}" />
	 	</div>
		<div class="desktop_hidden">
			<img width="600" height="600" src="{{ 'UZR_PopUp_Background_M.jpg' | asset_url | split:'?' | first  }}" />
		</div>
    {% if settings.newsletter_popup_form %}
      {% include 'newsletter-popup-form-donate' %}
    {% endif %}
	  </span>
	</span>
{% endif %}

