{% if settings.newsletter_popup %}   
	<a id="newsletter" href="#target"></a>
	<span style="display: none;">
	 <span id="target">
		 <div class="popup-text right"><h1 class="light">CONNECT WITH US</h1><p class="p2 light">Subscribe and be the first to know about our events, foundation news, new products and artisan stories.</p></div>
		 <div class="mobile_hidden">
		 	<img width="600" height="400" src="{{ 'fan_popup_d_2.jpg' | asset_url | split:'?' | first  }}" />
	 	</div>
		<div class="desktop_hidden">
			<img width="600" height="600" src="{{ 'fan_popup_m_2.jpg' | asset_url | split:'?' | first  }}" />
		</div>
    {% if settings.newsletter_popup_form %}
      {% include 'newsletter-popup-form' %}
    {% endif %}
	  </span>
	</span>
{% endif %}
