{% if settings.newsletter_popup %}   
	<a id="newsletter" href="#target"></a>
	<span style="display: none;">
	 <span id="target">
		 <div class="popup-text right"><h1 class="light">Apple Awards</h1><p class="p2 light">Hosted by Donna Karan and<br>Urban Zen Foundation<br><br>Recognizing<br>The Honorable Hillary Rodham Clinton<br>and Nadja Swarovski<br><br>June 7, 2017<br>Downtown New York City</p></div>
		 <div class="mobile_hidden">
		 	<img width="600" height="400" src="{{ 'D_Popup_Apple_b_darker.jpg' | asset_url | split:'?' | first  }}" />
	 	</div>
		<div class="desktop_hidden">
			<img width="600" height="600" src="{{ 'M_Popup_Apple_b.jpg' | asset_url | split:'?' | first  }}" />
		</div>
		<a href="/pages/events" class="cta-button sign_up right" >learn more</a>
		{% comment %}
    {% if settings.newsletter_popup_form %}
      {% include 'newsletter-popup-form' %}
    {% endif %}
    {% endcomment %}
	  </span>
    }
	</span>
{% endif %}


