<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
      <h2 class="light left" style="margin-top:15px;">#GivingTuesday</h2>  
      <a href="http://urbanzen.org/donate" style="margin-top:0;" class="right nomargins cta-button">Donate</a>
</div>