<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
      <h2 class="light left text-left">Sow A Seed/Urban Zen Wellness Initiative</h2>  
      <a href="http://urbanzen.org/donate" class="right nomargins cta-button">Donate</a>
</div>