<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage"> 
	<section class="fp-section section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">	
				<li class="item hpslide1 fadeIn">
					<div class="text text3">
						<h2 class="ivory">New Arrivals</h2>
						<h1 class="ivory">Summer 2017</h1>
						<a href="/pages/silk-road-collection#summer-looks" class="cta-button">shop by look</a>
					</div>
				</li>
				<li class="item hpslide2 fadeIn">
					<div class="text right">
						<h2 class="ivory">day to night</h2>
						<h1 class="ivory">Cold Shoulder<br/>Kimono Dress</h1>
						<a href="/collections/dresses" class="cta-button">shop dresses</a>
					</div>
					<div class="cell-video-container">
+						<iframe src="https://player.vimeo.com/video/203371692?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</li>
				<li class="item hpslide3 fadeIn">
					<div class="text text3 top right">
						<h2 class="ivory">Made by Hand</h2>
						<h1 class="ivory">D.O.T Game Sets</h1>
						<a href="/collections/home/game-sets" class="cta-button">shop</a>
					</div>
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text">
						<h2 class="ivory">Coming Soon</h2>
						<h1 class="ivory">Fans of Haiti</h1>
					</div>	
				</li>	
				<li class="item hpslide5 fadeIn">
					<div class="text top right">
						<h2 class="ivory">Announcing the</h2>
						<h1 class="ivory">Stephan Weiss<br/>Apple Awards</h1>
						<a href="/pages/events" class="cta-button">learn</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="text desktop_hidden">
			<h2 class="ivory">New Arrivals</h2>
			<h1 class="ivory">Summer 2017</h1>
			<a href="/pages/silk-road-collection" class="cta-button">shop by look</a>
		</div>
		</section>
		<section class="fp-section section slide2 center removeDesktop">
		<div class="text desktop_hidden">
			<div class="text">
				<h2 class="ivory">day to night</h2>
				<h1 class="ivory">Cold Shoulder<br/>Kimono Dress</h1>
				<a href="/collections/dresses" class="cta-button">shop dresses</a>
			</div>
		</div>
	</section>	
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Made By Hand</h2>
			<h1 class="ivory">D.O.T Game Sets</h1>
			<a href="/collections/home/game-sets" class="cta-button">shop</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text">
				<h2 class="ivory">Coming Soon</h2>
				<h1 class="ivory">Fans of Haiti</h1>
			</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		<div class="text">
			<h2 class="ivory">ANNOUNCING THE</h2>
			<h1 class="ivory">STEPHAN WEISS<br/>APPLE AWARDS</h1>
			<a href="/pages/events" class="cta-button">learn</a>
		</div>
	</section>

	{% include 'footer' %}
</div>