<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage"> 
	<section class="fp-section section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">	
				<li class="item hpslide1 fadeIn">
					<div class="text top right">
						<h2 class="ivory">HUMANITARIAN EFFORTS</h2>
						<h1 class="ivory">PARTNERING WITH RIHANNA</h1>
						<a href="http://urbanzen.org/donna-karan-and-rhianna-partnership" target="_blank" class="cta-button">learn more</a>
					</div>
				</li>
				<li class="item hpslide2 fadeIn">
					<div class="text">
						<h2 class="ivory">New Arrivals</h2>
						<h1 class="ivory">Summer 2017</h1>
						<a href="/pages/silk-road-collection#summer-looks" class="cta-button">shop by look</a>
					</div>
				</li>
				<li class="item hpslide3 fadeIn">
					<div class="text top right">
						<h2 class="ivory">Design For Good</h2>
						<h1 class="ivory">D.O.T Game Sets</h1>
						<a href="/collections/home/game-sets" class="cta-button">shop made by hand</a>
					</div>
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text">
						<h2 class="ivory">Celebrating Summer</h2>
						<h1 class="ivory">Join Us In<br/>Sag Harbor</h1>
						<a href="/pages/stores#sag-harbor" class="cta-button">visit</a>
					</div>	
				</li>	
				<li class="item hpslide5 fadeIn">
					<div class="text top right">
						<h2 class="ivory">Announcing the</h2>
						<h1 class="ivory">Stephan Weiss<br/>Apple Awards</h1>
						<a href="/pages/events" class="cta-button">learn</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="text desktop_hidden">
			<h2 class="ivory">HUMANITARIAN EFFORTS</h2>
			<h1 class="ivory">PARTNERING WITH RIHANNA</h1>
			<a href="http://urbanzen.org/donna-karan-and-rhianna-partnership" target="_blank" class="cta-button">learn more</a>
		</div>
		</section>
		<section class="fp-section section slide2 center removeDesktop">
		<div class="text desktop_hidden">
			<div class="text">
				<h2 class="ivory">New Arrivals</h2>
				<h1 class="ivory">Summer 2017</h1>
				<a href="/pages/silk-road-collection#summer-looks" class="cta-button">shop by look</a>
			</div>
		</div>
	</section>	
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Design For Good</h2>
			<h1 class="ivory">D.O.T Game Sets</h1>
			<a href="/collections/home/game-sets" class="cta-button">shop made by hand</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Celebrating Summer</h2>
			<h1 class="ivory">Join Us In Sag Harbor</h1>
			<a href="/pages/stores#sag-harbor" class="cta-button">visit</a>
		</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		<div class="text">
			<h2 class="ivory">ANNOUNCING THE</h2>
			<h1 class="ivory">STEPHAN WEISS<br/>APPLE AWARDS</h1>
			<a href="/pages/events" class="cta-button">learn</a>
		</div>
	</section>

	{% include 'footer' %}
</div>