<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage">
	<section class="section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1 fadeIn">
					<div class="text text2">
						<h2 class="light">Just in</h2>
						<h1 class="light">White Smoke</h1>
						<p>Indulge the senses</p>
						<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Explore</a>
					</div>

				<li class="item hpslide2 fadeIn">
					<div class="text text3">
						<h2 class="light">Just in</h2>
						<h1 class="light">White Smoke</h1>
						<p>Indulge the senses</p>
						<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Shop By Look</a>
					</div>
				</li>
				<li class="item hpslide3 fadeIn">
					<div class="text text3">
						<h2 class="light">New Arrivals</h2>
						<h1 class="light">Jewelry</h1>	
						<p>Exploring handmade artistry with a soulful history</p>			
						<a href="/collections/accessories/jewelry" class="cta-button">Shop</a>
					</div>
				</li>	
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text text3">
						<h2 class="light">SAS/UZF Wellness Initiative</h2>
						<h1 class="light">Yoga in Haiti</h1>
						<p>Transforming the lives of at-risk youth, orphans, ​and those in hospitals by connecting mind, body and spirit</p>
						<a href="http://urbanzen.org/our-initiatives/haiti-wellness-initiative" target="_blank" class="cta-button">Learn More</a>
					</div>
				</li>	
				<!--<li class="item hpslide5 fadeIn">
					<div class="text text3">
						<h2 class="light">INITIATIVE</h2>
						<h1 class="light">Naturally Haiti</h1>
						<p>Promoting economic growth through creativity and education</p>
						<a href="/pages/urban-zen-foundation" class="cta-button">Learn</a>
					</div>
				</li>-->
			</ul>
		</div>
		<div class="text text1 desktop_hidden">
			<h2 class="light">Just in</h2>
			<h1 class="light">White Smoke</h1>
			<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Explore</a>
		</div>
	</section>	
	<section class="section slide2 center removeDesktop">
			<div class="text text2">
				<h2 class="light">Just in</h2>
			<h1 class="light">White Smoke</h1>
			<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Shop By Look</a>
			</div>
	</section>
	<section class="section slide3 center removeDesktop">
			<div class="text text2">
				<h2 class="light">NEW ARRIVALS</h2>
				<h1 class="light">JEWELRY</h1>
				<a href="/collections/accessories/jewelry" target="_blank" class="cta-button">Shop</a>
			</div>
	</section>
	<section class="section slide4 center removeDesktop">
		<div class="text text2">
			<h2 class="light">SAS/UZF Wellness Initiative</h2>
			<h1 class="light">Yoga in Haiti</h1>
			<a href="http://urbanzen.org/our-initiatives/haiti-wellness-initiative" target="_blank" class="cta-button">Learn More</a>
		</div>
	</section>	
	<!--<section class="section slide5 center removeDesktop">
		<div class="text text3">
			<h2 class="light">Initiative</h2>
			<h1 class="light">NATURALLY HAITI</h1>	
			<a href="/pages/urban-zen-foundation" class="cta-button">Explore</a>
		</div>
	</section>-->
	{% include 'footer' %}
</div>