<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage">
	<section class="section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1 fadeIn">
					<div class="text text3">
						<h2 class="light">NEW ARRIVALS</h2>
						<h1 class="light">ALCHEMIST COLLECTION</h1>
						<p>Drape yourself in our winter white editions</p>
						<a href="/pages/the-alchemist-collection" class="cta-button">Shop By Look</a>
					</div>
				</li>
				
				<li class="item hpslide2 fadeIn">
					<div class="text text3">
						<h2 class="light">STATEMENT PIECES</h2>
						<h1 class="light">JEWELRY</h1>
						<p>Handmade artistry</p>
						<a href="/collections/accessories/jewelry" class="cta-button">Shop</a>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text text3">
						<h2 class="light">A GIFT OF GIVING</h2>
						<h1 class="light">UZF HOLIDAY CARDS</h1>
						<p>Every purchase of these cards provides a child education in Haiti</p>
						<a href="/collections/home-decor/products/uz-foundation-holiday-cards" class="cta-button">Shop</a>
					</div>
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text text2">
						<h2 class="light">FROM THE URBAN ZEN FAMILY</h2>
						<h1 class="light">HAPPY HOLIDAYS!</h1>
					</div>
				</li>

			</ul>
		</div>
		<div class="text text1 desktop_hidden">
			<h2 class="light">NEW ARRIVALS</h2>
			<h1 class="light">ALCHEMIST COLLECTION</h1>
			<a href="/pages/the-alchemist-collection" class="cta-button">Shop By Look</a>
		</div>
	</section>	
	<section class="section slide2 center removeDesktop">
			<div class="text text2">
				<h2 class="light">STATEMENT PIECES</h2>
				<h1 class="light">JEWELRY</h1>
				<a href="/collections/accessories/jewelry" class="cta-button">Shop</a>
			</div>
	</section>
	<section class="section slide3 center removeDesktop">
			<div class="text text2">
				<h2 class="light">A GIFT OF GIVING</h2>
				<h1 class="light">UZF HOLIDAY CARDS</h1>
				<a href="/collections/home-decor/products/uz-foundation-holiday-cards" class="cta-button">Shop</a>
			</div>
	</section>
	<section class="section slide4 center removeDesktop">
			<div class="text text2">
				<h2 class="light">FROM THE URBAN ZEN FAMILY</h2>
				<h1 class="light">HAPPY HOLIDAYS!</h1>
			</div>
	</section>
	{% include 'footer' %}
</div>