<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage">
	<section class="fp-section section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1 fadeIn">
					<div class="text fullscreen"></div>
					
					<div class="text ipad right">
						<h2 class="ivory">In-Season</h2>
						<h1 class="ivory">Spring 2017</h1>
					</div>
				</li>
				<li class="item hpslide2 fadeIn">
					<div class="text ipad right">
						<h2 class="ivory">Coming Soon</h2>
						<h1 class="ivory">Silk Road Collection</h1>
					</div>
					<div class="text ipad-hide right">
						<h2 class="ivory">In-Season</h2>
						<h1 class="ivory">Spring 2017</h1>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text ipad-hide right">
						<h2 class="ivory">Coming Soon</h2>
						<h1 class="ivory">Silk Road Collection</h1>
					</div>		
					<div class="text ipad">
						<h2 class="ivory">Style Guide</h2>
						<h1 class="ivory">Discover our looks</h1>
						<a href="/pages/silk-road-collection" class="cta-button">pre-order</a>
					</div>					
				</li>	
				<li class="item hpslide4 fadeIn">
					<div class="text ipad-hide">
						<h2 class="ivory">Style Guide</h2>
						<h1 class="ivory">Discover our looks</h1>
						<a href="/pages/silk-road-collection" class="cta-button">pre-order</a>
					</div>
					<div class="text ipad">
						<h2 class="ivory">Coming Soon</h2>
						<h1 class="ivory">Fan of Haiti</h1>
					</div>	
				</li>
				<li class="item hpslide5 fadeIn">
					
				</li>
			</ul>
		</div>
		<div class="text">
			<h2 class="ivory">In-Season</h2>
			<h1 class="ivory">Spring 2017</h1>
		</div>
	</section>	
	<section class="fp-section section slide2 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Coming Soon</h2>
			<h1 class="ivory">Silk Road Collection</h1>
		</div>
	</section>
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Style Guide</h2>
			<h1 class="ivory">Discover our Looks</h1>
			<a href="/pages/silk-road-collection" class="cta-button">pre-order</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Coming Soon</h2>
			<h1 class="ivory">Fan of Haiti</h1>
		</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		
	</section>
	{% include 'footer' %}
</div>