<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage"> 
	<section class="section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<!--<li class="item hpslide1 fadeIn">
					<div class="text text3">
						<h2 class="ivory">Coming Soon</h2>
						<h1 class="ivory">Summer 2017</h1>
						<a href="/pages/silk-road-collection#summer-looks" class="cta-button">pre-sale</a>
					</div>
				</li>-->
				<li class="item hpslide2 fadeIn">
					<div class="text text3">
						<h2 class="ivory">Style Guide</h2>
						<h1 class="ivory">Silk Road Collection</h1>
						<a href="/pages/silk-road-collection" class="cta-button">shop by look</a>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text text3 right">
						<h2 class="ivory">Artisinal</h2>
						<h1 class="ivory">Aesthetic</h1>
						<a href="/collections/accessories/collection-jewelry" class="cta-button">shop jewelry</a>
					</div>
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text text3">
						<h2 class="ivory">Vocational Education</h2>
						<h1 class="ivory">D.O.T</h1>
						<a href="/collections/features/d-o-t" class="cta-button">Discover D.O.T designs</a>
					</div>
					<div class="cell-video-container">
						<iframe src="https://player.vimeo.com/video/215676011?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</li>
				<li class="item hpslide5 fadeIn">
					<div class="text top right">
						<h2 class="ivory">ANNOUNCING THE</h2>
						<h1 class="ivory">STEPHAN WEISS APPLE AWARDS</h1>
						<a href="/pages/events" class="cta-button">learn</a>
					</div>	
				</li>			
			</ul>
		</div>
		<!--
		<div class="text text1 desktop_hidden">
			<div class="text text3">
				<h2 class="ivory">Coming Soon</h2>
				<h1 class="ivory">Summer 2017</h1>
				<a href="/pages/silk-road-collection#summer-looks" class="cta-button">pre-sale</a>
			</div>
		</div>-->
	</section>	
	<section class="fp-section section slide2 center removeDesktop">
		<div class="text text3">
			<h2 class="ivory">Style Guide</h2>
			<h1 class="ivory">Silk Road Collection</h1>
			<a href="/pages/silk-road-collection" class="cta-button">Shop by look</a>
		</div>
	</section>
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text text3">
		<h2 class="ivory">Artisinal</h2>
			<h1 class="ivory">Aesthetic</h1>
			<a href="/collections/accessories/collection-jewelry" class="cta-button">shop jewelry</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text text3">
			<div class="text text3">
				<h2 class="ivory">Vocational Education</h2>
				<h1 class="ivory">D.O.T</h1>
				<a href="/collections/features/d-o-t" class="cta-button">Discover D.O.T designs</a>
			</div>
		</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		<div class="text">
			<h2 class="ivory">ANNOUNCING THE</h2>
			<h1 class="ivory">STEPHAN WEISS APPLE AWARDS</h1>
			<a href="/pages/events" class="cta-button">learn</a>
		</div>
	</section>
	{% include 'footer' %}
</div>