<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage"> 
	<section class="section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">	
				<li class="item hpslide2 fadeIn">
					<div class="text text3">
						<h2 class="ivory">Style Guide</h2>
						<h1 class="ivory">Silk Road Collection</h1>
						<a href="/pages/silk-road-collection" class="cta-button">shop by look</a>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text text3 right">
						<h2 class="ivory">Artisanal</h2>
						<h1 class="ivory">Aesthetic</h1>
						<a href="/collections/accessories/collection-jewelry" class="cta-button">shop jewelry</a>
					</div>
				</li>
				<li class="item hpslide4 fadeIn">
					<div class="text text3">
						<h2 class="ivory">Our Mission</h2>
						<h1 class="ivory">Urban Zen Foundation</h1>
						<a href="/pages/urban-zen-foundation" class="cta-button">learn more</a>
					</div>
				</li>
				<li class="item hpslide5 fadeIn">
					<div class="text top right">
						<h2 class="ivory">ANNOUNCING THE</h2>
						<h1 class="ivory">STEPHAN WEISS<br/>APPLE AWARDS</h1>
						<a href="/pages/events" class="cta-button">learn</a>
					</div>	
				</li>			
			</ul>
		</div>

	</section>	
	<section class="fp-section section slide2 center removeDesktop">
		<div class="text text3">
			<h2 class="ivory">Style Guide</h2>
			<h1 class="ivory">Silk Road Collection</h1>
			<a href="/pages/silk-road-collection" class="cta-button">Shop by look</a>
		</div>
	</section>
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text text3">
		<h2 class="ivory">Artisanal</h2>
			<h1 class="ivory">Aesthetic</h1>
			<a href="/collections/accessories/collection-jewelry" class="cta-button">shop jewelry</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text text3">
			<div class="text text3">
				<h2 class="ivory">Our Mission</h2>
				<h1 class="ivory">Urban Zen Foundation</h1>
				<a href="/pages/urban-zen-foundation" class="cta-button">learn more</a>
			</div>
		</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		<div class="text">
			<h2 class="ivory">ANNOUNCING THE</h2>
			<h1 class="ivory">STEPHAN WEISS<br/>APPLE AWARDS</h1>
			<a href="/pages/events" class="cta-button">learn</a>
		</div>
	</section>
	{% include 'footer' %}
</div>