<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage">
	<section class="fp-section section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1 fadeIn">
					<div class="text right">
						<h2 class="ivory">SPRING 2017</h2>
						<h1 class="ivory">Silk Road Collection</h1>
						<a href="/pages/silk-road-collection" class="cta-button">shop by look</a>
					</div>
				</li>
				<li class="item hpslide2 fadeIn">
					<div class="text right">
						<h2 class="ivory">WORLDLY STYLE</h2>
						<h1 class="ivory">SPRING OUTERWEAR</h1>
						<a href="/collections/coats-jackets" class="cta-button">shop coats & jackets</a>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text">
						<h2 class="ivory">Modernity with Soul</h2>
						<h1 class="ivory">Home Collection</h1>
						<a href="/collections/home/decorative-accents" class="cta-button">explore</a>
					</div>					
				</li>	
				<li class="item hpslide4 fadeIn">
					<div class="text">
						<h2 class="ivory">Social Mission</h2>
						<h1 class="ivory">Urban Zen Foundation</h1>
						<a href="/pages/urban-zen-foundation" class="cta-button">discover</a>
					</div>	
				</li>
				<li class="item hpslide5 fadeIn">
					<div class="text top right">
						<h2 class="ivory">ANNOUNCING THE</h2>
						<h1 class="ivory">STEPHAN WEISS APPLE AWARDS</h1>
						<a href="/pages/events" class="cta-button">learn</a>
					</div>	
				</li>
			</ul>
		</div>
		<div class="text right">
			<h2 class="ivory">SPRING 2017</h2>
			<h1 class="ivory">Silk Road Collection</h1>
			<a href="/pages/silk-road-collection" class="cta-button">shop by look</a>
		</div>
	</section>	
	<section class="fp-section section slide2 center removeDesktop">
		<div class="text right">
			<h2 class="ivory">WORLDLY STYLE</h2>
			<h1 class="ivory">SPRING OUTERWEAR</h1>
			<a href="/collections/coats-jackets" class="cta-button">shop coats & jackets</a>
		</div>
	</section>
	<section class="fp-section section slide3 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Modernity with Soul</h2>
			<h1 class="ivory">Home Collection</h1>
			<a href="/collections/home/decorative-accents" class="cta-button">explore</a>
		</div>
	</section>
	<section class="fp-section section slide4 center removeDesktop">
		<div class="text">
			<h2 class="ivory">Social Mission</h2>
			<h1 class="ivory">Urban Zen Foundation</h1>
			<a href="/pages/urban-zen-foundation" class="cta-button">discover</a>
		</div>
	</section>
	<section class="fp-section section slide5 center removeDesktop">
		<div class="text">
			<h2 class="ivory">ANNOUNCING THE</h2>
			<h1 class="ivory">STEPHAN WEISS APPLE AWARDS</h1>
			<a href="/pages/events" class="cta-button">learn</a>
		</div>
	</section>
	{% include 'footer' %}
</div>