<div class="events-banner black-bg">
	<div class="full-width first bg-full">
		<div class="text right top">
			<h2 class="ivory">Announcing the</h2>
			<h1 class="large ivory">Stephan Weiss<br />Apple Awards</h1>
			<br /><br />
			<h2 class="normalcase ivory date-time">June 7, 2017<br />Downtown New York City</h2>
		</div>
		<img class="desktop_hidden" src="{{ 'm_Events_AA_Main_taller.jpg' | asset_url | split:'?' | first }};" alt="Apple" />
	</div>

</div>
<div class="text right bottom">
<p class="ivory">Recognizing<br>The Honorable Hillary Rodham Clinton<br/>and Nadja Swarovski</p>
<br>
<h4 class="ivory">TICKETS</h4>
		<p class="ivory">
			Please contact Deborah Hughes Inc at <a class="light" href="mailto:deb@deborahhughesinc.com">deb@deborahhughesinc.com</a></p><br/>
		<p class="ivory">All funds raised will be donated to the Urban Zen Foundation, dedicated to raising awareness and inspiring change in the areas of preservation of cultures, well being, and education.</p>
	</div>