</div>
	<section class="section slide1 center">
		<div class="simpleSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1a fadeIn">
					
				</li>
				<li class="item hpslide2a fadeIn">
					
				</li>
				<li class="item hpslide3a fadeIn">
					
				</li>
				<li class="item hpslide4a fadeIn">
					
				</li>
				<li class="item hpslide5a fadeIn">
					
				</li>
				<li class="item hpslide6a fadeIn">
					
				</li>
				<li class="item hpslide7a fadeIn">
					
				</li>
				<li class="item hpslide8a fadeIn">
					
				</li>
				
			</ul>
		</div>
	</section>