<div class="sixteen columns">
	<div class="header-title">
		<h1>{{ page.title }}</h1>
		<p>Discover our past campaigns. The following designs are not available for sale.</p>
	</div>
	<div class="page">
		<div class="image-row">
			<div class="half">
				<a href="/pages/silk-road-campaign" title="Silk Road Collection">
					<div class="text"><h3 class="light">Silk Road</h3></div>
					<img src="{{ 'silk-road-past.jpg' | asset_url | split:'?' | first }}" alt="Silk Road Collection" width="100%" height="auto" />
				</a>
			</div>
			<div class="half">
				<a href="/pages/alchemist-campaign" title="The Alchemist Collection">
					<div class="text"><h3 class="light">The Alchemist</h3></div>
					<img src="{{ 'the-alchemist-past.jpg' | asset_url | split:'?' | first }}" alt="The Alchemist Collection" width="100%" height="auto" />
				</a>
			</div>
		</div>
	</div>
</div>
